body {

    font: 15px/1, 5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F5F5DC;
    line-height: 1.6;

}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20;
    padding-right: 20;
    color: white;
}

.dark {
    padding: 15px;
    background: orange;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;

}

/**header and menus items*/
header {
    background: #00a0a0;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 70px;
    border-bottom: #ff7300 3px solid;
    border-bottom: #09ff00 2px solid;
    border-bottom: #aeff00 4px solid;


}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

/*menu*/

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #page {
    float: left;
}

header #page h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: rgb(66, 7, 17);
    font-weight: bold;
}

header a:hover {
    color: #ff0000;
    font-weight: bold;
}

#destiny {
    min-height: 400px;
    background: url("images/lake.jpg") no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
    line-height: 3em;
}

#destiny h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: #ff7300;
}

#destiny p {
    font-size: 30px;
}

#tops {
    padding: 15px;
    color: #ffffff;
    background: #acacb6;
}

#tops h1 {
    float: left;
}

#tops form {
    float: right;
    margin-top: 15px;

}

#tops input [type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*images style*/
.container_0 {
    width: 100%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.container_0 .btn {
    display: block;
    color: #fff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    margin-top: 40px;
    padding: 10px 5px;
}

.box0 {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);

}

.box0 img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box0 :hover {
    transform: scale(1.3);
    z-index: 2;
}

/***boxes*/
#boxes {
    margin-top: 20px;

}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

/***aside sidebar***/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#siderbar.qiote textarea {
    width: 90%;
    padding: 5px;
}

/**fixing the sidebar*/
article#main-col {
    float: left;
    width: 65%;
}

/****sidebar submit*/
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}


/***media queries*/
@media(max-width: 768px) {

    header #page,
    header nav,
    header nav li,
    #tops h1,
    #tops form,
    #boxes.box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    @media(max-width: 350px) {

        header #page,
        header nav,
        header nav li,
        #tops h1,
        #tops form,
        #boxes.box,
        article#main-col,
        aside#sidebar {
            float: none;
            text-align: center;
            width: 100%;
        }

        @media(max-width: 650px) {

            header #page,
            header nav,
            header nav li,
            #tops h1,
            #tops form,
            #boxes.box,
            article#main-col,
            aside#sidebar {
                float: none;
                text-align: center;
                width: 100%;
            }

            .container {
                max-width: 350px;
            }

            .container_0 {
                max-width: 600px
            }



            #destiny h1 {
                margin-top: 40px;
            }

            #tops button,
            .quote button {
                display: block;
                width: 100%;
            }

            #tops form input[type="email"],
            .quote input textarea {

                width: 100%;
                margin: 5px;
            }

            /* the styles for the elements */
            * {
                margin: 0;
                padding: 0;
            }

            html {
                background-color: #ffffff;
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 100%;
                width: 800px;
                margin: 0 auto;
                border: 3px solid #800000;
                background-color: #fffded;
            }

            a:focus,
            a:hover {
                font-style: italic;
            }

            /* the styles for the header */

            header h2 {
                font-size: 175%;
                color: #800000;
            }

            header h3 {
                font-size: 130%;
                font-style: italic;
            }

            header img {
                float: left;
                padding: 0 30px;
            }

            .shadow {
                text-shadow: 2px 2px 2px #800000;
            }

            /* the styles for the form */
            fieldset {

                margin-bottom: 0.5em;
                padding: .5em 1em;
            }

            legend {
                color: #000000;
                font-weight: bold;
                font-size: 85%;
                margin-bottom: .5em;
            }

            label {
                float: left;
                width: 12em;
                text-align: right;
            }

            label,
            input,
            select {
                font-size: 90%;
            }

            input,
            select {
                width: 15em;
                margin-left: .5em;
                margin-bottom: .5em;
            }

            input:required,
            input[required] {
                border: 2px solid #800000;
            }

            input:valid {
                border: 1px solid black;
            }

            input:invalid {
                border: 2px solid #800000;
                box-shadow: none;
            }

            #payment-method label {
                float: none;
            }

            #payment-method input {
                width: auto;
                margin-left: 3em;
            }

            #exp-month {
                width: 7em;
            }

            #exp-year {
                width: 5em;
            }

            br {
                clear: both;
            }

            #buttons input {
                width: 10em;
            }

            /* the styles for the navigation menu */
            #nav_menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: relative;
            }

            #nav_menu ul li {
                float: left;
            }

            #nav_menu ul li a {
                display: block;
                width: 160px;
                text-align: center;
                padding: 1em 0;
                text-decoration: none;
                background-color: #800000;
                color: white;
                font-weight: bold;
            }

            #nav_menu a.current {
                color: yellow;
            }

            #nav_menu ul ul {
                display: none;
                position: absolute;
                top: 100%;
            }

            #nav_menu ul ul li {
                float: none;
            }

            #nav_menu ul li:hover>ul {
                display: block;
            }

            #nav_menu>ul::after {
                content: "";
                clear: both;
                display: block;
            }

            /* the styles for the main content */
            main {
                clear: left;
            }

            /* the styles for the section */
            section {
                width: 525px;
                float: right;
                padding: 0 20px 20px 20px;
            }

            section h1 {
                font-size: 150%;
                color: #800000;
                padding: .5em 0 .25em 0;
                margin: 0;
            }

            /* the styles for the aside */
            aside {
                width: 215px;
                float: right;
                padding: 0 0 20px 20px;
            }

            aside h2 {
                color: #800000;
                font-size: 130%;
                padding: .5em 0 .25em 0;
            }

            aside h3 {
                font-size: 105%;
                padding-bottom: .25em;
            }

            aside img {
                padding-bottom: 1em;
            }

            /* the styles for the footer */
            footer {
                background-color: #931420;
                clear: both;
            }

            footer p {
                text-align: center;
                color: white;
                padding: 1em 0;
            }



            footer {
                padding: 20px;
                margin-top: 20px;
                color: #ffffff;
                background-color: black;
                text-align: center;
            }

            * the styles for the form */ fieldset {

                margin-bottom: 0.5em;
                padding: .5em 1em;
            }

            legend {
                color: #000000;
                font-weight: bold;
                font-size: 85%;
                margin-bottom: .5em;
            }

            label {
                float: left;
                width: 12em;
                text-align: right;
            }

            label,
            input,
            select {
                font-size: 90%;
            }

            input,
            select {
                width: 15em;
                margin-left: .5em;
                margin-bottom: .5em;
            }

            input:required,
            input[required] {
                border: 2px solid #800000;
            }

            input:valid {
                border: 1px solid black;
            }

            input:invalid {
                border: 2px solid #800000;
                box-shadow: none;
            }

            #payment-method label {
                float: none;
            }

            #payment-method input {
                width: auto;
                margin-left: 3em;
            }

            #exp-month {
                width: 7em;
            }

            #exp-year {
                width: 5em;
            }

            br {
                clear: both;
            }

            #buttons input {
                width: 10em;
            }

        }