/* the styles for the Table */
.content-table {
    margin: 25px 0;
    font-size: 0.9;
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(214, 11, 21, 0.15);
    overflow: hidden;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 80px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 18px solid #009879;
}


table {
    border: 1px solid #000000;
    background-color: rgba(239, 235, 233, 0.195)
}

thead,
tfoot {
    border-bottom: solid #931420 2px;
    border-top: solid #931420 2px;
}

.line {
    border-bottom: solid #931420 2px;
}

th,
td {
    text-align: left;
    padding: .3em .7em;
}

.cost {
    text-align: right;
}

.right {
    text-align: right;
    font-weight: bold;
}




/*Images styles*/

.container_1 {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.container_1 .btn {
    display: block;
    color: #fff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    margin-top: 40px;
    padding: 10px 5px;
}

.box1 {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);

}

.box1 img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box1 :hover {
    transform: scale(1.3);
    z-index: 2;
}

/*Media*/
@media screen and (max-width: 780px) {
    .container_1 {
        width: 100%;
        float: none;

    }

    @media screen and (max-width: 620px) {
        .container .content-table {
            float: none;
            width: 100%;
        }
        .container_1{
            max-width: 350px;
        }
        .container_1{
            max-width: 600px
        }
        .container_1{
            max-width: 850;
        }
        .content-table{
            max-width: fit-content ;
        }
    }
}